{
   "swagger":"2.0",
   "info":{
      "description":"Marketplace Client SDK",
      "version":"marketplace-client-sdk-2018.03.01",
      "title":"Marketplace Client SDK",
      "termsOfService":"http://wiki.coupang.net",
      "contact":{
         "name":"Seller Service Platform <seattle_seller_service@coupang.com>"
      },
      "license":{
         "name":"seattle_seller_service@coupang.com",
         "url":"seattle_seller_service@coupang.com"
      }
   },
   "host":"api-gateway.coupang.com",
   "basePath":"",
   "schemes":[
      "https"
   ],
   "securityDefinitions":{
      "api_key":{
         "type":"apiKey",
         "name":"Authorization",
         "in":"header"
      }
   },
   "security":{
      "api_key":[

      ]
   },
   "paths":{
      "/v2/providers/openapi/apis/api/v1/categorization/predict":{
         "post":{
            "summary":"Product categorization",
            "x-timeout":10000,
            "x-specId":"5bfc6817ad73b10039da14e9",
            "description":"Use user-provided information for to predict product category",
            "operationId":"doProductCategorizationUsingPOST",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfAutoCategorizationResponseDto"
                  }
               }
            },
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"autoCategorizationRequestDto",
                  "description":"autoCategorizationRequestDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/AutoCategorizationRequestDto"
                  }
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/meta/display-categories/{displacyCategoryCode}":{
         "get":{
            "summary":"노출카테고리 조회",
            "x-timeout":10000,
            "x-specId":"5758c67f2bb2f64b30e7936e",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46a5",
            "operationId":"getDisplayCategoryByCode",
            "description":"노출카테고리코드를 이용하여 전시카테고리를 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfODisplayCategory"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"노출 카테고리 코드. 카테고리코드는 숫자형으로 입력해주세요.",
                  "in":"path",
                  "name":"displacyCategoryCode"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/meta/display-categories":{
         "get":{
            "summary":"노출카테고리 전체목록 조회",
            "x-timeout":10000,
            "x-specId":"5758c67f2bb2f64b30e79369",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46a3",
            "operationId":"getDisplayCategories",
            "description":"노출카테고리 전체목록을 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfODisplayCategory"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/meta/display-categories/{displayCategoryCode}/status":{
         "get":{
            "summary":"노출카테고리가 유효한지 검사한다.",
            "x-timeout":10000,
            "x-specId":"5763aa63959bed8dac8397ca",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46a7",
            "operationId":"checkCategoryStatus",
            "description":"노출카테고리가 유효한지 검사한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfboolean"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"노출카테고리코드는 숫자형으로 입력해주세요.",
                  "in":"path",
                  "name":"displayCategoryCode"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/meta/category-related-metas/display-category-codes/{displayCategoryCode}":{
         "get":{
            "summary":"전시카테고리코드에 해당하는 카테고리관련메타(속성타입, 상품필수정보, 구비서류 등의 목록) 조회.",
            "x-timeout":10000,
            "x-specId":"5758c67f2bb2f64b30e7935f",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce469f",
            "operationId":"getCategoryRelatedMetaByDisplayCategoryCode",
            "description":"전시카테고리코드에 해당하는 카테고리아이디를 찾아서 해당 카테고리에 대한 카테고리메타(속성타입, 상품필수정보, 구비서류 등의 목록)을 조회하여 반환한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfOCategoryMeta"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"전시카테고리코드. 전시카테고리코드는 숫자형으로 입력해주세요.",
                  "in":"path",
                  "name":"displayCategoryCode"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products/external-vendor-sku-codes/{externalVendorSkuCode}":{
         "get":{
            "summary":"업체상품코드로 업체상품 목록 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e7939b",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46b9",
            "operationId":"readSellerProductsByExternalVendorSkuCode",
            "description":"업체상품코드로 업체상품 목록을 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfListOfOSellerProductListItem"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"업체상품코드",
                  "in":"path",
                  "name":"externalVendorSkuCode"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products":{
         "post":{
            "summary":"",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e79391",
            "x-getMethodTypeV2":false,
            "x-revision":"5758c6802bb2f64b30e79393",
            "operationId":"createSellerProduct",
            "description":"",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOflong"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "schema":{
                     "$ref":"#/definitions/OSellerProduct"
                  },
                  "required":true,
                  "description":"oSellerProduct",
                  "name":"oSellerProduct",
                  "in":"body"
               }
            ],
            "consumes":[
               "application/json"
            ]
         },
         "get":{
            "summary":"업체상품 목록 페이징 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e7938c",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46b3",
            "operationId":"searchSellerProduct",
            "description":"업체상품 목록을 페이징 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiPagedResultOfOSellerProductListItem"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":false,
                  "in":"query",
                  "name":"nextToken"
               },
               {
                  "format":"int32",
                  "type":"integer",
                  "required":false,
                  "in":"query",
                  "name":"maxPerPage"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":false,
                  "in":"query",
                  "name":"sellerProductId"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"sellerProductName"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":false,
                  "in":"query",
                  "name":"productId"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"vendorId"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"mdId"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"status"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"manufacture"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"brand"
               },
               {
                  "type":"string",
                  "required":false,
                  "in":"query",
                  "name":"createdAt"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":false,
                  "in":"query",
                  "name":"vendorItemId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         },
         "put":{
            "summary":"업체상품 수정",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e79396",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46b7",
            "operationId":"updateSellerProduct",
            "description":"업체상품을 수정한다. 상품은 한 개 이상의 아이템으로 구성된다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOflong"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "schema":{
                     "$ref":"#/definitions/OSellerProduct"
                  },
                  "required":true,
                  "description":"oSellerProduct",
                  "name":"oSellerProduct",
                  "in":"body"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products/{sellerProductId}/approvals":{
         "put":{
            "summary":"업체상품 승인 요청",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793af",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46c1",
            "operationId":"sendApprovalRequest",
            "description":"업체상품을 승인 요청한다. 승인 요청이 성공하면 vendorItemId가 발급된다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResult"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"sellerProductId",
                  "in":"path",
                  "name":"sellerProductId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/quantities/{quantity}":{
         "put":{
            "summary":"옵션별 수량 변경",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793cd",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46cd",
            "operationId":"changeInventoryQuantity",
            "description":"옵션별 재고 수량를 변경한다. 이 기능은 업체 상품 승인요청 후 승인이 완료되어 vendorItemId가 발급되면 사용할 수 있다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResult"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"판매승인된 옵션아이디",
                  "in":"path",
                  "name":"vendorItemId"
               },
               {
                  "format":"int32",
                  "type":"integer",
                  "required":true,
                  "description":"재고수량",
                  "in":"path",
                  "name":"quantity"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/products/items/cashback":{
         "get":{
            "summary":"Seller can use this API to get the cash back rule details.",
            "description":"Seller can use this API to get the cash back rule details.",
            "operationId":"getCashback",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"ruleId",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorItemId",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfProductCashBackSearchResultDto"
                  }
               }
            }
         },
         "post":{
            "summary":"Seller can use this API to set cash back rule to vendorItems.",
            "description":"Seller can use this API to set cash back rule to vendorItems. This API is applicable to vendorItems used the same cash back rule, and the allowed cash back types are RATE, FIXED and FIXED_WITH_QUANTITY.",
            "operationId":"setCashbacksV4",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"productCashBackInfoInputDto",
                  "description":"productCashBackInfoInputDto",
                  "required":false,
                  "schema":{
                     "$ref":"#/definitions/ProductCashBackInputDto"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfProductCashBackOutputDto"
                  }
               }
            }
         },
         "delete":{
            "summary":"Seller can use this API to stop the  cash back rule which applied to the corresponding vendorItemId.",
            "description":"Seller can use this API to stop the  cash back rule which applied to the corresponding vendorItemId.",
            "operationId":"stopCashbackV4",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"ruleId",
                  "in":"query",
                  "description":"ruleId",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorItemId",
                  "in":"query",
                  "description":"vendorItemId",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products/{sellerProductId}":{
         "get":{
            "summary":"업체상품 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793a5",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46bd",
            "operationId":"readSellerProduct",
            "description":"업체상품을 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfOSellerProduct"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"sellerProductId",
                  "in":"path",
                  "name":"sellerProductId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         },
         "delete":{
            "summary":"업체상품 삭제",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793aa",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46bf",
            "operationId":"deleteSellerProduct",
            "description":"업체상품을 삭제한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResult"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"sellerProductId",
                  "in":"path",
                  "name":"sellerProductId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/sales/stop":{
         "put":{
            "summary":"옵션별 판매여부 변경(판매중지)",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793d7",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2d012ef0242dce46d1",
            "operationId":"stopSelling",
            "description":"옵션별 판매여부를 번경한다 (판매중지). 이 기능은 업체 상품 승인요청 후 승인이 완료되어 vendorItemId가 발급되면 사용할 수 있다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResult"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"판매승인된 옵션아이디",
                  "in":"path",
                  "name":"vendorItemId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/sales/resume":{
         "put":{
            "summary":"옵션별 판매여부 변경(판매재개)",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793d2",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46cf",
            "operationId":"resumeSelling",
            "description":"옵션별 판매여부를 변경한다 (판매재개). 이 기능은 업체 상품 승인요청 후 승인이 완료되어 vendorItemId가 발급되면 사용할 수 있다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResult"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"판매승인된 옵션아이디",
                  "in":"path",
                  "name":"vendorItemId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/inventories":{
         "get":{
            "summary":"옵션별 수량/가격/상태 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793c3",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46c9",
            "operationId":"getInventoryInformation",
            "description":"옵션별 수량/가격/상태를 조회한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfOSellerProductItemStatus"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"판매승인된 옵션아이디",
                  "in":"path",
                  "name":"vendorItemId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/original-prices/{originalPrice}":{
         "put":{
            "summary":"Change original price",
            "x-timeout":10000,
            "x-specId":"5858d6732255abd2ac19eeed",
            "x-getMethodTypeV2":false,
            "x-revision":"5858d6732255abd2ac19eef0",
            "operationId":"changeOriginalPriceUsingPUT",
            "description":"\nSellers can use this api to change the original price of vendor item by vendorItemId  when vendorItemId is  generated after vendor product is approved.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfstring"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"vendorItemId approved for sale",
                  "in":"path",
                  "name":"vendorItemId"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"original price",
                  "in":"path",
                  "name":"originalPrice"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products/time-frame":{
         "get":{
            "summary":"업체상품 목록 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793a0",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46bb",
            "operationId":"readSellerProducts",
            "description":"업체상품 목록을 생성일시 기준으로 조회한다. 생성시작일시 ~ 생성종료일시의 시간간격은 1H을 초과할 경우 예외처리합니다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfListOfOSellerProductListItem"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"업체코드",
                  "in":"query",
                  "name":"vendorId"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"생성시작일시. \"yyyy-MM-dd'T'HH:mm:ss\" 형식의 일시",
                  "in":"query",
                  "name":"createdAtFrom"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"생성종료일시. \"yyyy-MM-dd'T'HH:mm:ss\" 형식의 일시",
                  "in":"query",
                  "name":"createdAtTo"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/vendor-items/{vendorItemId}/prices/{price}":{
         "put":{
            "summary":"옵션별 가격 변경",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793c8",
            "x-getMethodTypeV2":false,
            "x-revision":"58942d12215fffbc06cde04d",
            "operationId":"changeSalePriceUsingPUT",
            "description":"옵션별 가격을 변경한다. 이 기능은 업체 상품 승인요청 후 승인이 완료되어 vendorItemId가 발급되면 사용할 수 있다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiResultOfstring"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"판매승인된 옵션아이디",
                  "in":"path",
                  "name":"vendorItemId"
               },
               {
                  "format":"int64",
                  "type":"integer",
                  "required":true,
                  "description":"가격",
                  "in":"path",
                  "name":"price"
               },
               {
                  "name": "forceSalePriceUpdate",
                  "in": "query",
                  "description": "가격변경 비율 제한 정책 비 적용 여부",
                  "required": false,
                  "type": "boolean",
                  "default": false
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/meta/products":{
         "get":{
            "summary":"노출상품 목록 페이징 조회",
            "x-timeout":10000,
            "x-specId":"5758c67f2bb2f64b30e7937d",
            "x-getMethodTypeV2":false,
            "x-revision":"5768dc2c012ef0242dce46ad",
            "operationId":"searchExistingProducts",
            "description":"노출상품 목록을 상품명으로 페이징 조회를 한다.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiPagedResultOfOProduct"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"노출상품명.",
                  "in":"query",
                  "name":"productName"
               },
               {
                  "format":"int32",
                  "default":1,
                  "type":"integer",
                  "required":false,
                  "description":"페이지. 기본값 1입니다. 다음 페이지를 호출하기 위한 키값. 첫 페이지 호출시에는 넣지 않거나 '1' 입력",
                  "in":"query",
                  "name":"nextToken"
               },
               {
                  "format":"int32",
                  "default":10,
                  "type":"integer",
                  "required":false,
                  "description":"페이지당건수. 기본값 10입니다.",
                  "in":"query",
                  "name":"maxPerPage"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/seller_api/apis/api/v1/marketplace/seller-products/{sellerProductId}/histories":{
         "get":{
            "summary":"업체상품 상태변경이력 조회",
            "x-timeout":10000,
            "x-specId":"5758c6802bb2f64b30e793b4",
            "x-getMethodTypeV2":false,
            "x-revision":"58942c86a014c15f3689692d",
            "operationId":"readSellerProductHistory",
            "description":"업체상품아이디로 상태 변경 이력을 조회한다. Result list is sorted by 일시.",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "responses":{
               "200":{
                  "schema":{
                     "$ref":"#/definitions/OpenApiPagedResultOfOSellerProductStatusHistory"
                  },
                  "description":"OK"
               }
            },
            "parameters":[
               {
                  "type":"string",
                  "required":true,
                  "description":"Vendor ID",
                  "in":"header",
                  "name":"X-Requested-By"
               },
               {
                  "type":"string",
                  "required":true,
                  "description":"sellerProductId",
                  "in":"path",
                  "name":"sellerProductId"
               }
            ],
            "consumes":[
               "application/json"
            ]
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/ordersheets":{
         "get":{
            "summary":"query order list by separate delivery status and page in days",
            "description":"query order list in days",
            "operationId":"getOrderSheetsByVendorId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtFrom",
                  "in":"query",
                  "description":"start time(yyyy-MM-ddThh:mm)",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtTo",
                  "in":"query",
                  "description":"end time(yyyy-MM-ddThh:mm)",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"page size",
                  "required":false,
                  "type":"integer",
                  "default":50,
                  "format":"int32"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"searchType",
                  "in":"query",
                  "description":"search type",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfListOfOrderSheetDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/ordersheets/acknowledgement":{
         "patch":{
            "summary":"상품준비중 상태 변경",
            "description":"ordersheet의 상태를 \"상품준비중\" 상태로 변경한다.\n상태변경을 요청한 ordersheet 중 취소건이 있으면 Partial Error를 리턴한다.\n즉, 요청한 전체 ordersheet가 성공해야 Success.",
            "operationId":"applyPrepareShipmentStatus",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"prepareShipmentReqDto",
                  "description":"prepareShipmentReqDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PrepareShipmentReqDto"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfOrderSheetResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/ordersheets/{shipmentBoxId}":{
         "get":{
            "summary":"발주서 단건 조회V2 (분리배송적용)",
            "description":"발주서 단건을 조회한다.",
            "operationId":"getOrderSheetByShipmentBoxId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"shipmentBoxId",
                  "in":"path",
                  "description":"shipmentBoxId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfOrderSheetDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/ordersheets/{shipmentBoxId}/history":{
         "get":{
            "summary":"발주건 배송상태 히스토리 조회",
            "description":"특정 발주건에 대한 배송상태 히스토리를 조회",
            "operationId":"getDeliveryHistoriesByShipmentBoxId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"shipmentBoxId",
                  "in":"path",
                  "description":"shipmentBoxId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfDeliveryHistoryDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/{orderId}/ordersheets":{
         "get":{
            "summary":"주문번호로 발주서 단건 조회",
            "description":"주문번호로 발주서 단건을 조회한다.",
            "operationId":"getOrderSheetByOrderId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"orderId",
                  "in":"path",
                  "description":"orderId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfListOfOrderSheetDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/orders/invoices":{
         "post":{
            "summary":"배송지시 상태 변경 V2 (분리배송적용)",
            "description":"ordersheet의 상태를 \"배송지시\" 상태로 변경한다.",
            "operationId":"applyInvoicesUpload",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"uploadInvoiceReqDtoV2",
                  "description":"uploadInvoiceReqDtoV2",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UploadInvoiceReqDtoV2"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfOrderSheetResponseDto"
                  }
               },
               "400":{
                  "description":"Bad Request"
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests/{receiptId}/stoppedShipment":{
         "patch":{
            "summary":"출고중지 완료 처리",
            "description":"출고중지완료 상태로 변경한다.",
            "operationId":"doStopRelease",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"receiptId",
                  "in":"path",
                  "description":"반품 ID",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"path vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"releaseStopDto",
                  "description":"releaseStopDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ReleaseStopDto"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfSimpleResultDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests/{receiptId}/completedShipment":{
         "patch":{
            "summary":"이미출고 처리",
            "description":"출고중지요청건에 대해 이미출고 처리를 할 수 있다.",
            "operationId":"doAlreadyRelease",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"receiptId",
                  "in":"path",
                  "description":"반품 ID",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"path vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"releaseInfoDto",
                  "description":"releaseInfoDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ReleaseInfoDto"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfSimpleResultDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/orders/{orderId}/refunds":{
         "post":{
            "summary":"파트너 강제 취소",
            "description":"결제 완료 상태의 주문건을 취소한다.",
            "operationId":"cancelOrder",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"업체 ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"orderId",
                  "in":"path",
                  "description":"orderId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"csCancelRequestDto",
                  "description":"csCancelRequestDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CsCancelRequestDto"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfCSReceiptResult"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/exchangeRequests":{
         "get":{
            "summary":"get exchange information",
            "description":"get exchange information",
            "operationId":"getExchangesByVendorId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtFrom",
                  "in":"query",
                  "description":"from datetime(createdAtFrom : yyyy-MM-ddTHH:mm:ss)",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtTo",
                  "in":"query",
                  "description":"to datetime(createdAtTo : yyyy-MM-ddTHH:mm:ss)",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"orderId",
                  "in":"query",
                  "description":"order ID",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"maxPerPage",
                  "required":false,
                  "type":"integer",
                  "default":10,
                  "format":"int32"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PagedResponseDtoOfListOfExchangeDtoV1"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/exchangeRequests/{exchangeId}/receiveConfirmation":{
         "patch":{
            "summary":"new API Seller use this API to confirm that they have received the exchange product which are sent by customer.",
            "description":"new API Seller use this API to confirm that they have received the exchange product which are sent by customer.",
            "operationId":"confirmReturnDeliveryDoneByExchangeId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendorId",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"confirmContent",
                  "description":"confirmContent",
                  "required":false,
                  "schema":{
                     "$ref":"#/definitions/ConfirmContent"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"path vendor Id",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"exchangeId",
                  "in":"path",
                  "description":"path receipt Id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/exchangeRequests/{exchangeId}/rejection":{
         "patch":{
            "summary":"Vendor reject to do exchange.",
            "description":"Vendor reject to do exchange.",
            "operationId":"cancelExchange",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"exchangeId",
                  "in":"path",
                  "description":"exchangeId ID",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"exchangeCancelDto",
                  "description":"exchangeCancelDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ExchangeCancelDto"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"path vendor Id",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfSimpleResultDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/exchangeRequests/{exchangeId}/invoices":{
         "post":{
            "summary":"Create new order for exchanging.",
            "description":"Create new order when seller send new good to customer for exchanging.",
            "operationId":"saveInvoice",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"exchangeId",
                  "in":"path",
                  "description":"exchange Id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"path vendor Id",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor Id",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"exchangeInvoicesDtos",
                  "description":"exchangeInvoicesDtos",
                  "required":true,
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/ExchangeInvoicesDto"
                     }
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfSimpleResultDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests":{
         "get":{
            "summary":"Seller can use this API to query the return detail info based on different partner confirm progress status in minutes level. ",
            "description":"Seller can use this API to query the return detail info based on different partner confirm progress status in minutes level. ",
            "operationId":"getReturnRequestedListByVendorId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtFrom",
                  "in":"query",
                  "description":"createdAtFrom",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"createdAtTo",
                  "in":"query",
                  "description":"createdAtTo",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"orderId",
                  "in":"query",
                  "description":"orderId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"maxPerPage",
                  "required":false,
                  "type":"integer",
                  "default":50,
                  "format":"int32"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"searchType",
                  "in":"query",
                  "description":"search type",
                  "required":false,
                  "type":"string"
               },
               {
                  "name": "cancelType",
                  "in": "query",
                  "description": "cancel type: CANCEL or RETURN. default tor RETURN",
                  "required": false,
                  "type": "string",
                  "default": "RETURN"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfListOfReturnDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests/{receiptId}":{
         "get":{
            "summary":"Seller can use this API to query the return detail info by receiptId. ",
            "description":"Seller can use this API to query the return detail info by receiptId. ",
            "operationId":"getReturnRequestedListByReceiptId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"receiptId",
                  "in":"path",
                  "description":"receiptId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfReturnDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests/{receiptId}/receiveConfirmation":{
         "patch":{
            "summary":"Seller can use this API to check if the collected goods is ok.",
            "description":"Seller can use this API to check if the collected goods is ok.",
            "operationId":"returnDeliveryDoneConfirmation",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"receiptId",
                  "in":"path",
                  "description":"receiptId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"warehouseCheckDto",
                  "description":"warehouseCheckDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/WarehouseCheckDto"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/returnRequests/{receiptId}/approval":{
         "patch":{
            "summary":"Seller can use this API to approve the return request",
            "description":"Seller can use this API to approve the return request",
            "operationId":"confirmCancelByPartnerByReceiptId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"receiptId",
                  "in":"path",
                  "description":"receiptId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"returnApprovalDto",
                  "description":"returnApprovalDto",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ReturnApprovalDto"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/onlineInquiries":{
         "get":{
            "summary":"Query questions/answers between customer and seller.",
            "description":"Query questions/answers between customer and seller. Seller can use this API to query the on sale products' consultations raised by customers.",
            "operationId":"getCustomerInquiriesByVendorId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"inquiryStartAt",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"inquiryEndAt",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"answeredType",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorItemId",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"pageNum",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"pageSize",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfPagedListOfCSCustomerInquiryDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/onlineInquiries/{inquiryId}/replies":{
         "post":{
            "summary":"Seller can use this API to reply the consultations raised by customers.",
            "description":"Seller can use this API to reply the consultations raised by customers. Note : One API call can only reply one question. Before using this api to reply corresponding question, seller need to use the customer service inquiry api to get corresponding 'inquiryId'–question Id.",
            "operationId":"addCommentToInquiry",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"inquiryId",
                  "in":"path",
                  "description":"inquiry ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendorId",
                  "required":false,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"cSAddComment",
                  "description":"cSAddComment",
                  "required":false,
                  "schema":{
                     "$ref":"#/definitions/CSAddComment"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/callCenterInquiries":{
         "get":{
            "summary":"Query questions/answers between coupang and seller.",
            "description":"Seller can use this API to query particular products' consultations and replies. (Consumers raised these questions directly to coupang via coupang customer center or seller's call center).",
            "operationId":"getInquiriesByVendor",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"vendor ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"inquiryStartAt",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"inquiryEndAt",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"orderId",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"partnerCounselingStatus",
                  "in":"query",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"vendorItemId",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"pageNum",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"pageSize",
                  "in":"query",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDtoOfPagedListOfCSCoupangInquiryDTO"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/callCenterInquiries/{inquiryId}/replies":{
         "post":{
            "summary":"Seller can use this API to reply the consultations",
            "description":"Seller can use this API to reply the consultations (The consultations were directly raised by consumers to coupang via coupang customer center or seller's call center).",
            "operationId":"replyInquiries",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"inquiryId",
                  "in":"path",
                  "description":"inquiry ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"csCoupangReplyCondition",
                  "description":"csCoupangReplyCondition",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CSCoupangReplyCondition"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/callCenterInquiries/{inquiryId}/confirms":{
         "post":{
            "summary":"Seller can use this API to confirms the consultations",
            "description":"Seller can use this API to confirms the consultations (The consultations were directly raised by consumers to coupang via coupang customer center or seller's call center).",
            "operationId":"confirmInquiries",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"inquiryId",
                  "in":"path",
                  "description":"inquiry ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"csCoupangConfirmCondition",
                  "description":"csCoupangConfirmCondition",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CSCoupangConfirmCondition"
                  }
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/retroactiveFees":{
         "get":{
            "summary":"Seller can use this API to get settlement goods fee corrections. Fee correction is the adjustment fee happened between Coupang and Seller.",
            "description":" Fee correction is the adjustment fee happened between Coupang and Seller.",
            "operationId":"getGoodsFeeCorrections",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"pathVendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"recognitionDate",
                  "in":"query",
                  "description":"Date (yyyy-MM-dd)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken(start index, 0 on first call)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"Number of calls per page (default = 50, min = 1, max = 50)",
                  "required":false,
                  "type":"integer",
                  "default":50,
                  "format":"int32"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseDtoOfListOfGoodsFeeCorrectionOutputDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/orders/salesDetails":{
         "get":{
            "summary":"Seller can use this API to get settlement goods sales fee. Settlement goods sales fee is equal to order details, including payment amount, delivery amount, service fee and service fee VAT etc.",
            "description":"Seller can use this API to get settlement goods sales fee. Settlement goods sales fee is equal to order details, including payment amount, delivery amount, service fee and service fee VAT etc.",
            "operationId":"getGoodsSalesByVendor",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"pathVendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"recognitionDate",
                  "in":"query",
                  "description":"Date (yyyy-MM-dd)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken(start index, 0 on first call)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"Number of calls per page (default = 50, min = 1, max = 50)",
                  "required":false,
                  "type":"integer",
                  "default":50,
                  "format":"int32"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseDtoOfListOfGoodsSalesOutputDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/orders/settlementDetails":{
         "get":{
            "summary":"Seller can use this API to get order paiditems detail",
            "description":"Seller can use this API to get order snapshot specified amount. Including cancel delivery price, cancel remote area delivery price, estimated settlement amount amount, purchase confirm amount and paid price etc.",
            "operationId":"getOrderSnapshotDetailByVendorId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"VendorId 업체ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorItemId",
                  "in":"query",
                  "description":"vendorItemId ",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"shipmentStatusCode",
                  "in":"query",
                  "description":"shipmentStatusCode ",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxPerPage",
                  "in":"query",
                  "description":"maxPerPage 리턴되는 데이터 수 (기본 10개)",
                  "required":false,
                  "type":"integer",
                  "default":10,
                  "format":"int32"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken 다음 결과를 패치하기 위한 키: loop 를 돌리는데 사용 합니다. 처음 호출 시 null 을 사용합니다.",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"startTime",
                  "in":"query",
                  "description":"starTime 결제일-검색시작일, yyyy-MM-dd HH:mm-ss",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"endTime",
                  "in":"query",
                  "description":"endTime 결제일-검색종료일, yyyy-MM-dd HH:mm-ss",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiNextResponseDtoOfListOfOrderSnapshotViewDto"
                  }
               }
            }
         }
      },
      "/v2/providers/openapi/apis/api/v4/vendors/{vendorId}/orders/{orderId}/settlementDetails":{
         "get":{
            "summary":"Seller can use this API to get order paiditems detail",
            "description":"Seller can use this API to get order snapshot detail. Including cancel amount, paid amount, purchase fee and estimated settlement fee etc.",
            "operationId":"getOrderSnapshotDetailByOrderId",
            "x-timeout":10000,
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"X-Requested-By",
                  "in":"header",
                  "description":"X-Requested-By",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"orderId",
                  "in":"path",
                  "description":"orderId ",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"nextToken",
                  "in":"query",
                  "description":"nextToken ",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiNextResponseDtoOfListOfOrderSnapshotViewDto"
                  }
               }
            }
         }
      },
      "/v2/providers/fms/apis/api/v1/vendors/{vendorId}/budgets":{
         "get":{
            "summary":"업체의 각 계약서별로 할인 분담율 및 예산 조회",
            "description":"업체의 각 계약서별로 예산월에 속한 예산 및 셀러의 할인분담율을 제공한다.",
            "operationId":"getSellerInfo",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"업체 아이디",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"contractId",
                  "in":"query",
                  "description":"업체의 계약서 아이디",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {
                  "name":"targetMonth",
                  "in":"query",
                  "description":"조회하고자 하는 예산월 : yyyy-MM",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/OpenapiResponseOfListOfBudgetStateResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            }
         }
      },
      "/v2/providers/fms/apis/api/v2/vendors/{vendorId}/contract/list":{
         "get":{
            "summary":"업체의 계약 정보 목록 조회",
            "description":"계약기반, 자유계약기반 타입으로 구분 조회됨.",
            "operationId":"getContracts",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"vendorId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/OpenapiResponseOfListOfContractOpenAPIV2Dto"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            }
         }
      },
      "/v2/providers/fms/apis/api/v2/vendors/{vendorId}/contract":{
         "get":{
            "summary":"업체의 계약 정보 조회",
            "description":"계약기반, 자유계약기반 타입으로 구분 조회됨.",
            "operationId":"getContract",
            "security":[
               {
                  "api_key":[

                  ]
               }
            ],
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json",
               "*/*"
            ],
            "parameters":[
               {
                  "name":"vendorId",
                  "in":"path",
                  "description":"업체 아이디",
                  "required":true,
[...]
